:root {
  /* Colors */
  --slate: #434455; /*body text */
  --iris: #4d5ae5; /* focused, active states, links */
  --ocean: #404bbf; /* CTAs */
  --navyblue: #2e2f42; /* shadows, headings*/
  --lightslate: #8e8f99; /* helper text, deemphasized text */
  --white: #ffffff; /* header, background, team card */
  --cloud: #f4f4fd; /* light mode backgraund, light mode dialogs */
  --cornflower: #e7e9fc; /* hairlines, accent collor */
  --green: #31d0aa; /* valid fields, success messages*/
  --dairy: #fcfcfc; /* modal background */
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--slate);
  background-color: var(--white);
  width: auto;
}
a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

/* Header */
.header-page {
  /* width: 100%; */
  background-color: var(--white);
  margin: 0;
  border-bottom: 1px solid var(--cornflower);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-page .container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 332px;
}

.navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* Header Logo */
.header-logo {
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
  margin-right: 76px;
}

.header-logo-accent {
  color: var(--navyblue);
}

/* Menu */
.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 40px;
}

.menu-item-link {
  display: block;
  color: var(--navyblue);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0px;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-item-link-current {
  display: block;
  color: var(--ocean);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0px;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-item-link-current::after {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background: var(--ocean);
  transform: scaleX(1);
  bottom: -1px;
}

.menu-item-link:hover,
.menu-item-link:focus {
  color: var(--ocean);
}

.menu-item-link::after {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: transparent;
  transform: scaleX(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-item-link:hover::after {
  transform: scaleX(1);
  background: var(--ocean);
}

/* Contacts */
.contacts {
  font-style: normal;
}

.contacts-container {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.contact-link {
  font-size: 16px;
  color: var(--slate);
  line-height: 1.5;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-link:hover,
.contact-link:focus {
  color: var(--ocean);
}

/* Main */
/* Section 1 - About firm */
.section-about {
  max-width: 1440px;
  background-color: var(--navyblue);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url('../images/people-office.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: auto;
  margin: auto;
  padding: 188px 0px;
}

.section-about .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 48px;
}

.section-about-header {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: var(--white);
  text-align: center;
  max-width: 496px;
}

.button-order {
  cursor: pointer;
  background: var(--iris);
  color: var(--white);
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.04em;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  padding: 16px 32px;
  gap: 10px;
  display: inline-flex;
  align-items: flex-start;
  display: block;
  min-width: 169px;
  height: 56px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-order:hover,
.button-order:focus {
  background-color: var(--ocean);
}

/* Section 2 - Features */

.section-features {
  margin: 0px;
  padding: 120px 0px;
}

.features {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.feature-card {
  min-width: 264px;
  width: calc((100% - 24px * 3) / 4);
}

.feature-icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  width: 100%;
  padding: 24px 100px;
  border-radius: 4px;
  border: 1px solid var(--lightslate);
  background-color: var(--cloud);
  margin-bottom: 8px;
}

.feature-icon {
  width: 64px;
  height: 64px;
  flex-shrink: 0;
}

.feature-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navyblue);
  margin-bottom: 8px;
}

.feature-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}

/* Section 3 - Team */
.section-team {
  background-color: var(--cloud);
  margin: 0px;
  padding: 120px 0px;
}

.section-team-header {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: var(--navyblue);
  margin-bottom: 72px;
}

.team {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.team-card {
  min-width: 264px;
  background-color: var(--white);
  width: calc((100% - 24px * 3) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-card-label {
  padding: 32px 0px;
  width: 100%;
}

.team-card-name {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navyblue);
  text-align: center;
  margin-bottom: 8px;
}

.team-card-position {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--slate);
  margin-bottom: 8px;
}

.social-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: flex-end;
  gap: 24px;
  flex-shrink: 0;
  margin: 0;
  padding: 0px 16px 0px 16px;
}

.social-icon-container {
  width: 40px;
  height: 40px;
  flex-shrink: 0;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--iris);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
  background-color: var(--ocean);
}

.social-icon {
  width: 16px;
  height: 16px;
  fill: var(--cloud);
}

/* Section Portfolio */
.section-portfolio {
  background-color: var(--white);
  margin: 0px;
  padding: 120px 0px;
}

.section-portfolio-header {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: var(--navyblue);
  margin-bottom: 72px;
}

.portfolio-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 24px;
  row-gap: 48px;
}

.portfolio-card {
  max-width: 360px;
  width: calc((100% - 24px * 2) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-card:hover {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.portfolio-item-label {
  border: 1px solid var(--cornflower);
  border-top: none;
  padding: 32px 16px;
}

.portfolio-item-name {
  width: 100%;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navyblue);
  margin-bottom: 8px;
}

.portfolio-item-type {
  width: 100%;
  color: var(--slate);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* Footer */
.footer-page {
  background: var(--navyblue);
  margin: 0px;
  padding: 100px 0px;
}

.footer-page .container {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

/* Footer Copyright */
.footer-section-copyright {
  width: 264px;
  margin-right: 120px;
}

/* Footer Logo */
.footer-logo {
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
  display: inline-block;
  margin-bottom: 16px;
}

.footer-logo-accent {
  font-family: Raleway, sans-serif;
  color: var(--cloud);
}

.footer-copyright-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--cloud);
}

/* Footer Social Media */
.footer-social-media {
  /* width: 208px; */
  margin-right: 80px;
}

.footer-social-media-title {
  color: var(--white);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.footer-social-links {
  display: flex;
  flex-direction: row;
  align-self: center;
  justify-content: flex-start;
  gap: 16px;
  flex-shrink: 0;
  margin: 0;
}

.footer-social-icon-container {
  width: 40px;
  height: 40px;
}

.footer-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--iris);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-icon {
  width: 24px;
  height: 24px;
  fill: var(--cloud);
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--green);
}
.subscribe {
  color: var(--white);
}

.subscribe-text {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.subscribe-message {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 24px;
}

.subscribe-email {
  width: 212px;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.48px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  border-radius: 4px;
  border: 1px solid var(--white);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.subscribe-button {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 8px 24px;
  justify-content: center;
  align-items: center;
  gap: 16px;
  border: none;
  border-radius: 4px;
  background: var(--iris);
  min-width: 165px;
  height: 40px;
  padding: 8px 24px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subscribe-button:hover,
.subscribe-button:focus .button-icon-container {
  background-color: var(--ocean);
}

.subscribe-button:hover .button-icon {
  fill: var(--green);
}

.button-text {
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
}

.button-icon-container {
  width: 26px;
  height: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--iris);
}

.button-icon {
  fill: var(--white);
}

/* For overlay */
.portfolio-overlay-card {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.portfolio-overlay {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  padding: 20px;
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  padding: 40px 32px;
  background-color: var(--iris);
  color: var(--cloud);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-card:hover .portfolio-overlay {
  transform: translateY(0);
}

/* MODAL WINDOW */

.modal-window {
  position: fixed;
  font-family: inherit;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-items: center;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  transition: opacity 500ms ease-in;
  z-index: 9999;
  transition: all 1000ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.form-order-service {
  top: 0;
  margin-left: auto;
  margin-right: auto;
  font-family: inherit;
  color: inherit;
  background-color: var(--dairy);
  width: 408px;
  height: 584px;
  flex-shrink: 0;
  border-radius: 4px;
  transition: inherit;
}

.form-container {
  padding: 24px;
}
/* Header form */
.form-header {
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: flex-end;
}
/* Close button */
.close-button {
  display: flex;
  align-items: center;
  justify-items: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--cornflower);
  margin-left: auto;
  flex-shrink: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: 16px;
}

.close-icon {
  width: 8px;
  height: 8px;
  flex-shrink: 0;
  fill: var(--navyblue);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button:hover .close-icon {
  fill: var(--cloud);
}

.close-button:hover,
.close-button:focus {
  background-color: var(--ocean);
}

.form-controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: flex-start;
}

.form-text {
  font-family: inherit;
  color: var(--navyblue);
  text-align: center;
  width: 100%;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
  margin-bottom: 16px;
}

.input-label {
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
  font-family: inherit;
  outline: none;
  color: var(--lightslate);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  width: 100%;
  margin-bottom: 4px;
}

/* Custom input text */
.input-custom {
  font-family: inherit;
  display: flex;
  flex-direction: row;
  justify-items: flex-start;
  align-items: center;
  width: 100%;
  padding-left: 16px;
  padding-top: 4px;
  padding-bottom: 4px;
  background-color: var(--white);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  gap: 4px;
  margin-bottom: 8px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Link Text */
.input-link {
  color: var(--iris);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  transition: color 150ms ease-in-out;
  margin-left: 4px;
}

.input-icon-container {
  width: 18px;
  height: 24px;
  display: flex;
  justify-items: center;
  align-items: center;
  background-color: inherit;
}

.input-icon {
  fill: var(--navyblue);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-real {
  outline: none;
  border: none;
  height: 32px;
  width: 320px;
  font-size: 16px;
}

.form-textarea:focus-within {
  border: 1px solid var(--iris);
}

.input-custom:focus-within {
  border: 1px solid var(--iris);
}

.input-custom:focus-within .input-icon {
  fill: var(--iris);
}

.input-icon:hover {
  fill: var(--iris);
}

/* Text area */
.form-textarea {
  height: 120px;
  width: 100%;
  font-family: inherit;
  font-size: 16px;
  outline: none;
  resize: none;
  padding: 8px 16px;
  border-radius: 4px;
  border: 1px solid var(--navyblue-modal, rgba(46, 47, 66, 0.4));
  margin-bottom: 16px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-textarea::placeholder {
  color: var(--lightslate);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

/* Custom checkbox */
.checkbox-container {
  width: 100%;
}

.checkbox-label {
  display: flex;
  flex-direction: row;
  justify-items: flex-start;
  align-items: center;
  color: var(--lightslate);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}

.checkbox-custom {
  width: 16px;
  height: 16px;
  display: flex;
  justify-items: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 4px;
  background-color: var(--white);
  border: 1px solid rgba(46, 47, 66, 0.4);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-right: 10px;
  margin-left: -2px;
}

.checkbox-icon {
  width: 16px;
  height: 16px;
  flex-shrink: 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: var(--cloud);
}

.checkbox-real {
  width: 0;
  padding-left: 2px;
}

.checkbox-real:focus + .checkbox-custom {
  border: 1px solid var(--iris);
}

.checkbox-real:checked + .checkbox-custom {
  background-color: var(--ocean);
}
.checkbox-real:checked + .checkbox-icon {
  fill: var(--white);
}

@media screen and (max-width: 1158px) {
  /* .container {
    width: 100%;
  } */
  .header-logo {
    margin-right: 0;
  }
  .navigation {
    justify-items: space-between;
    gap: 120px;
  }

  .header-page .container {
    padding-left: 16px;
    padding-right: 16px;
    justify-items: center;
    gap: 120px;
  }

  .contact-link {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
  }

  .contacts-container {
    flex-direction: column;
    gap: 12px;
  }

  .section-features,
  .section-team,
  .section-portfolio {
    padding-top: 96px;
    padding-bottom: 96px;
  }
  .features {
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 72px;
  }

  .feature-card {
    width: calc((100% - 24px) / 2);
  }

  .team {
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 64px;
  }

  .portfolio-cards {
    justify-content: center;
    row-gap: 72px;
  }

  .portfolio-card {
    min-width: 356px;
    width: calc((100% - 24px) / 2);
  }
  .portfolio-img {
    width: 100%;
    height: 100%;
  }
}

@media screen and (max-width: 768px) {
  .portfolio-card {
    min-width: 356px;
  }
  .portfolio-img {
    min-height: 300px;
  }
}

@media screen and (max-width: 320px) {
  .feature-card {
    width: 100%;
  }
  .portfolio-card {
    min-width: 288px;
    width: 100%;
  }
  .portfolio-img {
    min-height: 280px;
  }
}
